/* Index.html CSS style section  */
/* Index.html CSS style section  */
/* Index.html CSS style section  */
/* Index.html CSS style section  */
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
.showcase {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .showcase {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .showcase {
    width: auto;
    height: 100%;
  }
}

h1 {
  font-family: Georgia;
  color: white;
  font-size: 3em;
  text-align: center;
  margin-top: 180px;
}
a {
  text-decoration: none;
}
#landing-page-title-color {
  color: whitesmoke;
  font-family: "Lobster", cursive;
  font-size: 1.5em;
}
/* Home.html CSS style section */
/* Home.html CSS style section */
/* Home.html CSS style section */
/* Home.html CSS style section */

#git-logo {
  width: 100%;
  width: 70%;
  height: auto;
  padding: 5px 0 0 10px;
}

.nav-ul1 {
  display: flex;
  list-style: none;
  padding: 15px 10px 15px 10px;
  margin-top: 0;
  justify-content: flex-end;
  font-size: 1.5em;
}
.nav-ul-li1 {
  padding: 0 10px 0 25px;
}
.nav-a1 {
  color: black;
}
.nav1 {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}

body {
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
}

li {
  font-family: sans-serif;
}

.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-for-section1 {
  display: flex;
  justify-content: space-around;
  margin: 0 160px 0 160px;
}

/* flex, margin, padding, and styles for image and paragraph section cards  */

.paragraph-styles1 {
  font-family: sans-serif;
  font-size: 1.3em;
  padding: 40px;
}
.imagecard-figure1 {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.wireframe {
  /* border: solid black 3px;*/
  margin: 80px;
  background-color: white;
}
.wireboxes {
  max-width: 500px;
  height: auto;
}
.title1 {
  color: black;
  padding: 0 0 0 0;
  margin: 100px 0 100px 0;
}

.box-shadow {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.288);
}

/* landingimage styles */

.landing-image1-1 {
  display: flex;
  justify-content: space-around;
}
#landingimage1 {
  max-width: 1600px;
  height: auto;
  width: 100%;
}
.h2-1 {
  padding-top: 15px;
}

/* section for page 1 */
/* section for page 1 */
/* section for page 1 */
/* section for page 1 */

.flexbox-page {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 200px;
}
.Paragraph-box-pages {
  width: 900px;
}
.card-imagespages {
  width: 100%;
  min-width: 400px;
  height: auto;
}
/* section for page 2 */
/* section for page 2 */
/* section for page 2 */
/* section for page 2 */

/* section for about page  */
/* section for about page  */
/* section for about page  */
/* section for about page  */
